/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/estilo.css ***!
  \*************************************************************************/
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 250;
    padding: 20px;
}
h1{
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: steelblue;
    align-items: center;
    text-align: center;
}
rodape {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
}
