body{
    background-color: blue;
    background-image: url(../imags/meulogo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
marquee{
    color: white;
    font-size: 30px;
}
rodape{
    background-color: aqua;
}